body{
    font-family: Ping Fang medium;
    padding-top: 50px;
}

a, a:hover{
    text-decoration: none;
    color: #000;
}
ul, li{
    list-style-type: none;
}

.main{
    top: 80px;
    padding-top: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.navbar-right{
    padding-top: 20px;
}
.main .page-header {
  margin-top: 0;
}
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 120px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
.float{
    float: left;
}
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.navbar-header p{
    padding-left: 35px;
}

.foodDetail> .row{
    margin-left: 5px;
    width:90%;
    border: 0.5px solid #ccc;

}
.foodDetail p{
    padding-top: 10px;
}
.navbar{
    float:left;
    background: #fff;
}
.navbar-header  img{
    width: 180px;

}
.reconmmendation{
    padding-top: 10px;
}
.foodImg{
    width: 90%;
    background: pink;
}
.foodImg img{
    width: 100%;
}
.tag{
    display:none;
    background: grey;
    margin-top:0;
    margin-right: 5%;
    width: 10%;
}
.tag img{
    width: 100%;
}
.optionTitle{
    padding-left: 20px;
}
.foodOption {
    padding-top: 20px;
}
.foodOption img{
    width:100%;
}
.foodOption p{
    font-size: 1.5em;
    font-weight: bold;
}
